# Model weights
checkpoints/*.pt
checkpoints/*.pth
experiments/checkpoints/*.pt
experiments/checkpoints/*.pth
# Datasets
data/raw/
data/processed/

# Training logs
runs/
logs/*.tfevents.*

# Python
__pycache__/
*.pyc
*.egg-info/
.eggs/

# Environment
venv/
.venv/
.env/
*.env

# Jupyter
.ipynb_checkpoints/

# Mac
.DS_Store

# Compiled docs / temp files
docs/*.tmp
docs/~$*.docx
*.db
.virtual_documents/